<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.md.academy.vo.CategoryVo" alias="CategoryVo"/>
		<typeAlias type="com.kh.md.academy.vo.ClassVo" alias="ClassVo"/>
		<typeAlias type="com.kh.md.academy.vo.CurriculumVo" alias="CurriculumVo"/>
		<typeAlias type="com.kh.md.academy.vo.StudentVo" alias="StudentVo"/>
		<typeAlias type="com.kh.md.member.vo.MemberVo" alias="MemberVo"/>
		<typeAlias type="com.kh.md.admin.vo.Dept" alias="DeptVo"/>
		<typeAlias type="com.kh.md.admin.vo.Position" alias="PositionVo"/>
		<typeAlias type="com.kh.md.admin.vo.Rank" alias="RankVo"/>
		<typeAlias type="com.kh.md.address.vo.Address" alias="AddressVo"/>
		<typeAlias type="com.kh.md.meetingResrv.vo.MeetingResrv" alias="MeetingResrv"/>
		<typeAlias type="com.kh.md.meetingResrv.vo.MeetingRoom" alias="MeetingRoom"/>
		<typeAlias type="com.kh.md.noticeBoard.vo.NoticeBoard" alias="NoticeBoard"/>
		<typeAlias type="com.kh.md.noticeBoard.vo.NoticeBoardReply" alias="NoticeBoardReply"/>
		<typeAlias type="com.kh.md.noticeBoard.vo.NoticeBoardFile" alias="NoticeBoardFile"/>
	</typeAliases>


	





</configuration>