@charset "UTF-8";
	
    /* 공통 */
    html, body{
        padding: 0px;
        margin: 0px;
    }
  



    aside{
    	height:1000px;
        border: 1px solid black;
        padding-top: 50px;
        display: grid;
        grid-template-rows: 20% repeat(7,1fr);
        place-content: center;
        justify-items: center;
        align-items: center;
        background-color: #6667AB;
    }

    aside div {
        font-size: 1.8rem;
    }

    aside div a{
        text-decoration: none;
        color: white;
    }
    
    main{
	    	width: 60vw;
			margin-left:5%;
	}

    main > *{
        font-size:1.3rem;
    }
    /* 공통 끝 */