<script src="https://kit.fontawesome.com/336f32a815.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<style>
    @font-face {
	    font-family: 'AppleSDGothicNeo';
	    src: url('/md/resources/font/apple/AppleSDGothicNeoUL.ttf') format('truetype');
	}
    body{
        padding: 0px;
        margin: 0px;
        font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
        font-size: 12px;
    }
	
    html, body{
        padding: 0px;
        margin: 0px;
        font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
        font-size: 12px;
    }
    div>*{
        box-sizing: border-box;
    } 
    
    aside, main, div{
        /* border: 1px solid black; */
    }
    #wrap{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: hidden;
    }
    header{
        width: 100vw;
        height: 10vh;
        border-bottom: 1px solid gainsboro;
        position: fixed;
        z-index: 9;
        background-color: white;
    }
    aside{
        width: 13vw;
        height: 80vh;
        position: fixed;
        top:10vh;
    }
    main{
        width: 70vw;
        height: 80vh;
        position: relative;
        top: 10vh;
        left:20vw;
    }
</style>