<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap type="MemberVo" id="memberResultSet">
		<id column="NO" property="no" />
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="PWD" property="pwd"/>
<!-- 		<result column="BIRTH_DATE" property="birthDate"/> -->
		<result column="PRIVATE_EMAILl" property="privateEmail"/>
		<result column="ADDRESS" property="address"/>
		<result column="ADDRESS2" property="address2"/>
		<result column="PHONE" property="phone"/>
		<result column="PROFILE_NAME" property="profileName"/>
		<result column="POSITION_NO" property="positionNo"/>
		<result column="BANK_NO" property="bankNo"/>
		<result column="ACCOUNT" property="account"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="UPDATE_DATE" property="updateDate"/>
		<result column="START_DATE" property="startDate"/>
		<result column="QUIT_DATE" property="quitDate"/>
<!-- 		<result column="STATUS" property="status"/> -->
		<result column="GRADE" property="grade"/>
	</resultMap>
	
	<!-- 사원 총 인원 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
			FROM MEMBER
		WHERE QUIT_YN = 'N'
	</select>
	
	<!-- 사원 총 인원 (순서는 먼저 입사한 사람 <다니고있는사람 -> 퇴사한사람 순 >)  -->
	<select id="selectMemberList" resultMap="memberResultSet">
		SELECT *
			FROM (SELECT 
			        M.NO, M.NAME, M.EMAIL, M.PRIVATE_EMAIL, M.GRADE, M.ADDRESS, M.ADDRESS2
			        , M.PHONE, M.PROFILE_NAME, M.POSITION_NO, M.BANK_NO, M.ACCOUNT, M.ENROLL_DATE, M.UPDATE_DATE
			        , M.START_DATE, M.QUIT_DATE, M.QUIT_YN
			        , P.NAME AS POSITION_NAME, R.NAME AS RANK_NAME, D.NAME AS DEPT_NAME
					FROM MEMBER M
					JOIN POSITION P
					ON M.POSITION_NO = P.NO
					JOIN RANK R
					ON P.RANK_NO = R.NO
					JOIN DEPT D
					ON P.DEPT_NO = D.NO
			      WHERE M.QUIT_YN = 'N'
			      ORDER BY M.ENROLL_DATE DESC)
			UNION ALL
		SELECT *
			FROM (SELECT 
			        M.NO, M.NAME, M.EMAIL, M.PRIVATE_EMAIL, M.GRADE, M.ADDRESS, M.ADDRESS2
			        , M.PHONE, M.PROFILE_NAME, M.POSITION_NO, M.BANK_NO, M.ACCOUNT, M.ENROLL_DATE, M.UPDATE_DATE
			        , M.START_DATE, M.QUIT_DATE, M.QUIT_YN
			        ,P.NAME AS POSITION_NAME, R.NAME AS RANK_NAME, D.NAME AS DEPT_NAME
					FROM MEMBER M
					JOIN POSITION P
					ON M.POSITION_NO = P.NO
					JOIN RANK R
					ON P.RANK_NO = R.NO
					JOIN DEPT D
					ON P.DEPT_NO = D.NO
			      WHERE M.QUIT_YN = 'Y'
			      ORDER BY M.QUIT_YN ,  M.ENROLL_DATE DESC)
	</select>
	
	<select id="selectMemberList2" resultMap="memberResultSet">
		SELECT DISTINCT M.NAME
			FROM MEMBER M
        	LEFT JOIN POSITION P USING(NO)
			WHERE M.QUIT_YN = 'N'
        	ORDER BY M.NAME;
	</select>
	

	
 	<!-- <select id="selectDepartmentList" resultType="DeptVo">
		
	</select>

	
	<select id="selectPosiList" resultType="">

	</select> 
	
	
	<select id="getSearchListCount" resultType="_int">

	</select>
	
	<select id="selectSearchMemberList" resultMap="memberResultSet">

	</select>
		
	<select id="getMemberCount" resultType="int">

	</select>
	
	<update id="updateMultiMember">

	</update>
	
	<update id="deleteMember">

	</update>
		
	<select id="selectMember" resultMap="memberResultSet">

	</select>

	<update id="updateMember">

	</update>
	
	<update id="deletePosi">

	</update>
	
	<insert id="insertPosi">

	</insert>
	
	<update id="updatePosi">

	</update> -->
	
	<select id="selectDeptMemberList" resultType="DeptVo">
		SELECT 
		    M.NO, M.NAME, M.EMAIL, M.PHONE, M.PROFILE_NAME
		    , P.NAME AS POSITION_NAME
		    , R.NAME AS RANK_NAME
		    , D.NAME AS DEPT_NAME
		    , M.GRADE
		    , M.ADDRESS
		    , M.ENROLL_DATE
		    , M.UPDATE_DATE
		    , M.START_DATE
		    , M.QUIT_DATE
		    , M.QUIT_YN
		    , P.NO AS POSITON_NO
		    , D.NO AS DEPT_NO
				FROM MEMBER M
				JOIN POSITION P 
				ON M.POSITION_NO = P.NO
				JOIN RANK R
				ON P.RANK_NO = R.NO
				JOIN DEPT D
				ON P.DEPT_NO = D.NO
				AND M.QUIT_YN = 'N'
		<if test="upperDept != null">
				AND D.NO = #{upperDept}
		</if>
			ORDER BY P.NO ASC;

	</select>
	
<!--  	<select id="getSubDeptList" resultMap="">

	</select> 
	
	<insert id="insertDept">

	</insert>
	
 	<select id="selectDept" resultMap="">

	</select>
	
	<update id="deleteDept">

	</update>
	
	<update id="updateDept">

	</update>
		
	<update id="moveDept">

	</update>
		
	<update id="sortDeptOrder">

	</update> 
	
	<select id="getReportListCount" resultType="_int">

	</select>
	
	<select id="selectBoardReportList" resultMap="reportResultSet">

	</select>	
	
	<select id="selectReplyReportList" resultMap="reportResultSet">

	</select> -->	
	
<!-- 	<update id="handingBoardReport">
		UPDATE REPORT
		SET REPORT_STATUS = #{reportStatus}
		WHERE REPORT_NO = #{reportNo}
	</update> -->

	<update id="deleteBoard">
		UPDATE BOARD
		SET DELETE_YN = 'Y'
		WHERE NO = #{no}	
	</update>

<!-- 	<update id="handingReplyReport">
		UPDATE REPORT
		SET REPORT_STATUS = #{reportStatus}
		WHERE REPORT_NO = #{reportNo}	
	</update>
	
	<update id="deleteReply">
		UPDATE NOTICE_REPLY
		SET REPLY_STATUS = 2
		WHERE REPLY_NO = #{replyNo}		
	</update>
	
	
	<resultMap type="com.kh.md.admin.vo.Report" id="reportResultSet">
		<id column="REPORT_NO" property="reportNo" />
		<result column="REPORT_TYPE" property="reportType"/>
		<result column="REPORT_DATE" property="reportDate"/>
		<result column="REPORT_STATUS" property="reportStatus"/>
		<result column="REPLY_NO" property="replyNo"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="REPLY_STATUS" property="rStatus"/>
		<result column="B_NO" property="bNo"/>
		<result column="B_TITLE" property="bTitle"/>
		<result column="B_STATUS" property="bStatus"/>
		<result column="B_TYPE" property="bType"/>
		<result column="M_NAME" property="writerName"/>
		<result column="POSITION_NAME" property="writerPositionName"/>
	</resultMap>	 -->

</mapper>

