<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap type="com.kh.md.board.vo.BoardVo" id="boardInfo">
		<id column="no" property="no" />
		<result column="USER_NO" property="userNo" />
		<result column="CATEGORY_NO" property="categoryNo" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="HIT" property="hit" />
		<result column="REGDATE" property="regdate" />
		<result column="DELETE_YN" property="deleteYn" />
	</resultMap>
	
	<!--게시글 작성  -->
	<insert id="insertBoard" useGeneratedKeys="true" keyColumn="NO" keyProperty="no">
		INSERT INTO FREE_BOARD
			(
				NO
				,TITLE
				,CONTENT
				,CATEGORY_NO
				,USER_NO
			)	
		VALUES
			(
				SEQ_FREE_BOARD_NO.NEXTVAL
				,#{title}
				,#{content}
				,#{categoryNo}
				,#{userNo}	
			)
	</insert>
	<!--전체 글 조회  -->
	<select id="selectList" resultMap="boardInfo">
		SELECT 
			B.NO 
			,M.NAME AS USER_NO
			,B.TITLE 
			,B.CONTENT
			,B.HIT
			,B.REGDATE
		FROM FREE_BOARD B
		JOIN MEMBER M
		ON B.USER_NO = M.NO
		WHERE B.DELETE_YN = 'N'
		<if test="title != null">
			AND B.TITLE LIKE '%' || #{title} || '%'
		</if> 
		<if test="content != null">
			AND B.CONTENT LIKE '%' || #{content} || '%'
		</if>  
		<if test="writer != null">
			AND M.NAME LIKE '%' || #{writer} || '%'
		</if> 	
		ORDER BY B.NO DESC
	</select>
	<!--게시글 상세 조회  -->
	<select id="selectOne" resultMap="boardInfo">
		SELECT 
			NO
			,USER_NO 
			,CATEGORY_NO
			,TITLE 
			,CONTENT
			,HIT
			,REGDATE
			,DELETE_YN
		FROM FREE_BOARD
		WHERE NO = #{no}
		AND DELETE_YN = 'N'
	</select>
	<!--조회수 증가  -->
	<update id="increaseHit">
			UPDATE FREE_BOARD
				SET HIT = HIT + 1
			WHERE NO = #{no}
			AND DELETE_YN = 'N'
	</update>
	<!--게시글 수정  -->
	<update id="updateOne">
		UPDATE FREE_BOARD
			SET
				TITLE = #{title}
				, CONTENT =#{content}
		WHERE NO = #{no}
	</update>
	<!--전체 글 개수  -->
	<select id="selectCountAll" resultType="int">
		SELECT COUNT(*)
		FROM FREE_BOARD
		WHERE DELETE_YN = 'N'
	</select>
	<!--게시글 삭제  -->
	<update id="deleteBoard">
		UPDATE FREE_BOARD
			SET
				DELETE_YN = 'Y'
		WHERE NO = #{no}
	</update>
	<!--검색어 글 개수  -->
	<select id="selectSearchCount" resultType="int">
		SELECT COUNT(*) FROM FREE_BOARD
	  	WHERE DELETE_YN = 'N'
	  	<if test="title != null">
			AND TITLE LIKE '%' || #{title} || '%'
		</if> 
		<if test="content != null">
			AND CONTENT LIKE '%' || #{content} || '%'
		</if>  
		<if test="writer != null">
			AND USER_NO LIKE '%' || #{writer} || '%'
		</if> 	
	</select>
	<!--검색어  -->
	<select id="searchList" resultMap="boardInfo">
		SELECT 
			NO 
			,USER_NO
			,TITLE 
			,CONTENT
			,HIT
			,REGDATE
		FROM FREE_BOARD
		WHERE DELETE_YN = 'N'
		<if test="title != null">
			AND TITLE LIKE '%' || #{title} || '%'
		</if> 
		<if test="content != null">
			AND CONTENT LIKE '%' || #{content} || '%'
		</if>  
		<if test="writer != null">
			AND USER_NO LIKE '%' || #{writer} || '%'
		</if> 	
		ORDER BY NO DESC
	</select>
	
	<!--댓글  -->
	<resultMap type="com.kh.md.boardreply.vo.BoardReply" id="reply">
		<id column="REPLY_NO" property="replyNo" />
		<result column="BOARD_NO" property="boardNo" />
		<result column="CONTENT" property="content" />
		<result column="NAME" property="name" />
		<result column="REGDATE" property="regdate" />
	</resultMap>
	
	<!--댓글 목록  -->
	<select id="replyList" resultMap="reply">
	SELECT 
			REPLY_NO
			,CONTENT 
			,NAME
			,REGDATE
		FROM FREE_BOARD_REPLY
		WHERE BOARD_NO = #{no}
		ORDER BY REGDATE DESC
	</select>
	<!--댓글 작성  -->
	<insert id="writeReply">
		INSERT INTO FREE_BOARD_REPLY
			(
				REPLY_NO
				,BOARD_NO
				,CONTENT
				,NAME
			)	
		VALUES
			(
				SEQ_FREE_BOARD_REPLY_NO.NEXTVAL
				,#{boardNo}
				,#{content}
				,#{name}
			)
	</insert>
	<!--댓글 삭제  -->
	<delete id="removerReply">
		DELETE 
		FROM FREE_BOARD_REPLY
		WHERE REPLY_NO = #{replyNo}
		AND BOARD_NO = #{boardNo}
		AND NAME = #{name}
	</delete>
	
	
	
	
	<!--파일-->
	<resultMap type="com.kh.md.board.vo.BoardAttachment" id="BoardAttachment">
		<id column="NO" property="no" />
		<result column="BOARD_NO" property="boardNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="FILE_NAME" property="fileName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="UPLOAD_DATE" property="uploadDate" />
		<result column="DELETE_YN" property="deleteYn" />
	</resultMap>
	
	<!--파일 업로드   -->
	<insert id="insertFile">
		INSERT INTO FREE_ATTACHMENT
		(
				NO
				,BOARD_NO
				,FILE_NAME
				,FILE_PATH
				,ORIGIN_NAME
			)	
		VALUES
			(
				SEQ_FREE_ATTACHMENT_NO.NEXTVAL
				,#{boardNo}
				,#{fileName}
				,#{filePath}
				,#{originName}
			)
	</insert>
	
	<select id="attachmentList" resultMap="BoardAttachment">
		SELECT *
		FROM FREE_ATTACHMENT
		WHERE BOARD_NO = #{boardNo}
		AND DELETE_YN = 'N'
	</select>
	
	<update id="updateattachment">
		UPDATE FREE_BOARD
			SET
				 DELETE_YN = 'Y'
		WHERE ORIGIN_NAME = #{originName}
		AND BOARD_NO = #{boardNo}
	</update>
</mapper>