<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap type="com.kh.md.board.vo.BoardVo" id="boardInfo">
		<id column="no" property="no" />
		<result column="USER_NO" property="userNo" />
		<result column="CATEGORY_NO" property="categoryNo" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="HIT" property="hit" />
		<result column="REGDATE" property="regdate" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<!--게시글 작성  -->
	<insert id="insertBoard">
		INSERT INTO FREE_BOARD
			(
				NO
				,TITLE
				,CONTENT
				,CATEGORY_NO
				,USER_NO
			)	
		VALUES
			(
				SEQ_FREE_BOARD_NO.NEXTVAL
				,#{title}
				,#{content}
				,#{categoryNo}
				,#{userNo}	
			)
	</insert>
	
	<select id="selectList" resultMap="boardInfo">
		SELECT 
			NO 
			,USER_NO
			,TITLE 
			,CONTENT
			,HIT
			,REGDATE
		FROM FREE_BOARD
		WHERE STATUS = 'O'
		<if test="title != null">
			AND TITLE LIKE '%' || #{title} || '%'
		</if> 
		<if test="content != null">
			AND CONTENT LIKE '%' || #{content} || '%'
		</if>  
		<if test="writer != null">
			AND USER_NO LIKE '%' || #{writer} || '%'
		</if> 	
		ORDER BY NO DESC
	</select>
	
	<select id="selectOne" resultMap="boardInfo">
		SELECT 
			NO
			,USER_NO 
			,CATEGORY_NO
			,TITLE 
			,CONTENT
			,HIT
			,REGDATE
			,STATUS
		FROM FREE_BOARD
		WHERE NO = #{no}
		AND STATUS = 'O'
	</select>
	
	<update id="increaseHit">
			UPDATE FREE_BOARD
				SET HIT = HIT + 1
			WHERE NO = #{no}
			AND STATUS = 'O'
	</update>
	
	<update id="updateOne">
		UPDATE FREE_BOARD
			SET
				TITLE = #{title}
				, CONTENT =#{content}
		WHERE NO = #{no}
	</update>
	
	<select id="selectCountAll" resultType="int">
		SELECT COUNT(*)
		FROM FREE_BOARD
		WHERE STATUS = 'O'
	</select>
	
	<update id="deleteBoard">
		UPDATE FREE_BOARD
			SET
				STATUS = 'X'
		WHERE NO = #{no}
	</update>
	
	<select id="selectSearchCount" resultType="int">
		SELECT COUNT(*) FROM FREE_BOARD
	  	WHERE STATUS = 'O'
	  	<if test="title != null">
			AND TITLE LIKE '%' || #{title} || '%'
		</if> 
		<if test="content != null">
			AND CONTENT LIKE '%' || #{content} || '%'
		</if>  
		<if test="writer != null">
			AND USER_NO LIKE '%' || #{writer} || '%'
		</if> 	
	</select>
	
	<select id="searchList" resultMap="boardInfo">
		SELECT 
			NO 
			,USER_NO
			,TITLE 
			,CONTENT
			,HIT
			,REGDATE
		FROM FREE_BOARD
		WHERE STATUS = 'O'
		<if test="title != null">
			AND TITLE LIKE '%' || #{title} || '%'
		</if> 
		<if test="content != null">
			AND CONTENT LIKE '%' || #{content} || '%'
		</if>  
		<if test="writer != null">
			AND USER_NO LIKE '%' || #{writer} || '%'
		</if> 	
		ORDER BY NO DESC
	</select>
	
	<!--댓글  -->
	<resultMap type="com.kh.md.boardreply.vo.BoardReply" id="reply">
		<id column="REPLY_NO" property="replyNo" />
		<result column="BOARD_NO" property="boardNo" />
		<result column="CONTENT" property="content" />
		<result column="NAME" property="name" />
		<result column="REGDATE" property="regdate" />
	</resultMap>
	
	
	<select id="replyList" resultMap="reply">
	SELECT 
			CONTENT 
			,NAME
			,REGDATE
		FROM FREE_BOARD_REPLY
		WHERE BOARD_NO = #{no}
		ORDER BY REGDATE DESC
	</select>
	
	<insert id="writeReply">
		INSERT INTO FREE_BOARD_REPLY
			(
				REPLY_NO
				,BOARD_NO
				,CONTENT
				,NAME
			)	
		VALUES
			(
				SEQ_FREE_BOARD_REPLY_NO.NEXTVAL
				,#{boardNo}
				,#{content}
				,#{name}
			)
	</insert>
</mapper>