<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "memberMapper">
	<select id="selectOne" resultType="com.kh.md.member.vo.MemberVo">
		SELECT 
		M.NO
		,M.NAME
		,M.EMAIL
		,M.PWD
		,M.PRIVATE_EMAIL
		,M.GRADE
		,M.ADDRESS
		,M.ADDRESS2
		,M.PHONE
		,M.PROFILE_NAME
		,M.POSITION_NO
		,M.BANK_NO
		,M.ACCOUNT
		,TO_CHAR(M.ENROLL_DATE,'YYYY-MM-DD')AS ENROLL_DATE
		,TO_CHAR(M.UPDATE_DATE,'YYYY-MM-DD')AS UPDATE_DATE
		,TO_CHAR(M.START_DATE,'YYYY-MM-DD')AS START_DATE
		,TO_CHAR(M.QUIT_DATE,'YYYY-MM-DD')AS QUIT_DATE
		,M.QUIT_YN
		,P.NAME AS POSITION_NAME, R.NAME AS RANK_NAME, D.NAME AS DEPT_NAME
		FROM MEMBER M
		JOIN POSITION P 
		ON M.POSITION_NO = P.NO
		JOIN RANK R
		ON P.RANK_NO = R.NO
		JOIN DEPT D
		ON P.DEPT_NO = D.NO
		WHERE EMAIL = #{email} 
		AND PWD = #{pwd} 
		AND QUIT_YN = 'N'
	</select>
	<select id="selectOneByNo" resultType="com.kh.md.member.vo.MemberVo">
		SELECT 
		M.NO
		,M.NAME
		,M.EMAIL
		,M.PWD
		,M.PRIVATE_EMAIL
		,M.GRADE
		,M.ADDRESS
		,M.ADDRESS2
		,M.PHONE
		,M.PROFILE_NAME
		,M.POSITION_NO
		,M.BANK_NO
		,M.ACCOUNT
		,TO_CHAR(M.ENROLL_DATE,'YYYY-MM-DD')AS ENROLL_DATE
		,TO_CHAR(M.UPDATE_DATE,'YYYY-MM-DD')AS UPDATE_DATE
		,TO_CHAR(M.START_DATE,'YYYY-MM-DD')AS START_DATE
		,TO_CHAR(M.QUIT_DATE,'YYYY-MM-DD')AS QUIT_DATE
		,M.QUIT_YN
		,P.NAME AS POSITION_NAME, R.NAME AS RANK_NAME, D.NAME AS DEPT_NAME
		FROM MEMBER M
		JOIN POSITION P 
		ON M.POSITION_NO = P.NO
		JOIN RANK R
		ON P.RANK_NO = R.NO
		JOIN DEPT D
		ON P.DEPT_NO = D.NO
		WHERE M.NO = #{no}  
	</select>
	
	<select id="selectCountByEmail" resultType="_int">
		SELECT COUNT(*) FROM MEMBER 
		WHERE EMAIL = #{email} 
		AND PRIVATE_EMAIL = #{privateEmail}
		AND QUIT_YN = 'N'
	</select>
	
	<select id="selectCountByPwd" resultType="_int">
		SELECT COUNT(*) FROM MEMBER 
		WHERE NO = #{no} 
		AND PWD = #{pwd}
		AND QUIT_YN = 'N'
	</select>
	
	<select id="selectListByDeptNo" resultType="com.kh.md.member.vo.MemberVo">
		SELECT M.NO, M.NAME, M.EMAIL, M.PHONE, M.PROFILE_NAME, 
		       P.NAME AS POSITION_NAME, R.NAME AS RANK_NAME, D.NAME AS DEPT_NAME
		FROM MEMBER M
		JOIN POSITION P 
		ON M.POSITION_NO = P.NO
		JOIN RANK R
		ON P.RANK_NO = R.NO
		JOIN DEPT D
		ON P.DEPT_NO = D.NO
		WHERE DEPT_NO = #{deptNo}
		AND M.QUIT_YN = 'N'
		ORDER BY P.RANK_NO DESC, P.NO ASC
	</select>
	
	<select id="selectListBySearch" resultType="com.kh.md.member.vo.MemberVo">
		SELECT M.NO, M.NAME, M.EMAIL, M.PHONE, M.PROFILE_NAME, 
		       P.NAME AS POSITION_NAME, R.NAME AS RANK_NAME, D.NAME AS DEPT_NAME
		FROM MEMBER M
		JOIN POSITION P 
		ON M.POSITION_NO = P.NO
		JOIN RANK R
		ON P.RANK_NO = R.NO
		JOIN DEPT D
		ON P.DEPT_NO = D.NO
		WHERE M.NAME LIKE '%${search}%'
		AND M.QUIT_YN = 'N'
		ORDER BY P.NO ASC
	</select>
	
	<update id="updateOne">
		UPDATE MEMBER SET 
		NAME = #{name}
		,EMAIL = #{email}
		,PRIVATE_EMAIL = #{privateEmail}
		,GRADE = #{grade}
		,ADDRESS = #{address}
		,ADDRESS2 = #{address2}
		,PHONE = #{phone}
		,PROFILE_NAME = #{profileName}
		,POSITION_NO = #{positionNo}
		,BANK_NO = #{bankNo}
		,ACCOUNT = #{account}
		,UPDATE_DATE = SYSDATE
		WHERE NO = #{no}
	</update>
	
	<update id="updatePwd">
		UPDATE MEMBER SET 
		PWD = #{pwd}
		WHERE NO = #{no}
	</update>
	
	<update id="deleteOne">
		UPDATE MEMBER SET 
		QUIT_DATE = #{quitDate}
		, QUIT_YN = 'Y'
		WHERE NO = #{no}
	</update>
	
	<select id="selectMyboardList" resultMap="boardInfo">
		  SELECT 
			B.NO 
			,M.NAME AS USER_NO
			,B.TITLE 
			,B.CONTENT
			,B.HIT
			,TO_CHAR(B.REGDATE,'YYYY-MM-DD') AS REGDATE
            ,M.POSITION
		FROM DATA_BOARD B
		JOIN  (SELECT 
        M.NAME
        ,M.NO
        ,M.PROFILE_NAME
        ,P.NAME AS POSITION  
        FROM MEMBER M
        JOIN POSITION P
        ON M.POSITION_NO = P.NO) M
		ON B.USER_NO = M.NO
		WHERE B.DELETE_YN = 'N'
		<if test="title != null">
			AND B.TITLE LIKE '%' || #{title} || '%'
		</if> 
		AND M.NO = ${memberNo};
		ORDER BY B.NO DESC
	</select>
	
	
</mapper>