<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "privatefileMapper">
	<select id="selectList" resultType="com.kh.md.file.vo.FileVo">

		SELECT * FROM PRIVATE_FILE 
		WHERE MEMBER_NO = #{memberNo}
		
	</select>
	<select id="selectListBySearchName" resultType="com.kh.md.file.vo.FileVo">

		SELECT * FROM PRIVATE_FILE 
		WHERE MEMBER_NO = #{memberNo}
		AND ORIGIN_NAME LIKE '%${searchName}%'
		
	</select>
</mapper>