<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="signMapper">
	<select id="getListAll"
		resultType="com.kh.md.member.vo.MemberVo">

		SELECT
		P.NAME AS POSITION_NAME
		,P.RANK_NO
		,D.NAME AS DEPT_NAME
		,D.UPPER_DEPT
		,D.LEV
		,M.NO AS NO
		,M.NAME AS NAME
		FROM POSITION P
		JOIN DEPT D ON P.DEPT_NO = D.NO
		JOIN MEMBER M ON M.POSITION_NO = P.NO
		ORDER BY M.NO ASC
	</select>
	<select id="getListDept"
		resultType="com.kh.md.member.vo.MemberVo">
		SELECT
		P.NAME AS POSITION_NAME
		,P.RANK_NO
		,D.NAME AS DEPT_NAME
		,D.UPPER_DEPT
		,D.LEV
		,M.NO AS NO
		,M.NAME AS NAME
		FROM POSITION P
		JOIN DEPT D ON P.DEPT_NO = D.NO
		JOIN MEMBER M ON M.POSITION_NO = P.NO
		<if test='deptNo != "0"'>
		WHERE D.NO = #{deptNo}
		</if>
		ORDER BY M.NO ASC
	</select>

	<insert id="signWrite" parameterType="com.kh.md.sign.vo.SignVo">

		INSERT INTO SIGN
		(S_NO
		, E_NO
		, S_TYPE_NO
		,S_TITLE
		,S_CONTENT)

		VALUES(SEQ_SIGN_NO.NEXTVAL
		,#{eNo}
		,#{sTypeNo}
		,#{sTitle}
		,#{sContent}
		)
		<selectKey keyProperty="sNo" resultType="java.lang.String" order="AFTER"> 
			SELECT SEQ_SIGN_NO.CURRVAL FROM DUAL
		</selectKey>

	</insert>
	<insert id="insertSignLine">
		INSERT INTO SIGN_LINE
		(SL_NO 
		,E_NO 
		,S_NO 
		,S_LEVEL) 
		SELECT SEQ_SIGN_LINE_NO.NEXTVAL, A.* FROM(
			<foreach collection="list" item="item" separator="UNION ALL">
				SELECT #{item.eNo} AS E_NO,
					   #{item.sNo} AS S_NO,
					   #{item.sLevel} AS S_LEVEL
				FROM DUAL
			</foreach>) A
	</insert>
	<update id="signFirst">
		UPDATE SIGN_LINE
		SET 
		S_STEP = 'Y'
		WHERE E_NO = #{no}
	</update>

	<select id="selectSignList" resultType="map">
	 WITH T1 AS
 (SELECT SL.S_NO AS S_NO, SL.S_LEVEL AS S_LEVEL, SL.S_STEP AS S_STEP,S.S_TITLE AS S_TITLE,S.S_DATE AS S_DATE,S.S_CONTENT,S.S_STATUS,S.A_NO
 FROM SIGN_LINE SL
 INNER JOIN SIGN S ON S.S_NO = SL.S_NO
 WHERE SL.E_NO = #{no}
 AND SL.S_STEP='N')
 SELECT * FROM T1
 INNER JOIN SIGN_LINE SSL ON T1.S_NO = SSL.S_NO
 WHERE SSL.S_NO = T1.S_NO
 AND SSL.S_LEVEL  = T1.S_LEVEL-1
 AND SSL.S_STEP = 'Y'
 
	 
	 
    
	</select>
	
	<select id="selectTotalCnt" resultType="int">
		SELECT COUNT(S.S_NO)
		FROM SIGN S
        JOIN SIGN_LINE SL ON S.S_NO = SL.S_NO 
		WHERE SL.S_STEP ='N' AND SL.E_NO = #{no}
	</select>
	
	<select id="selectSignOne" resultType="com.kh.md.sign.vo.SignVo">
		SELECT
    S_NO, E_NO, S_TYPE_NO,S_DATE, S_TITLE, S_CONTENT, M.NO, M.NAME AS NAME
FROM SIGN S JOIN MEMBER M ON S.E_NO = M.NO
WHERE S_NO = #{no}
	</select>
	<select id="selectSignLine" resultType="com.kh.md.sign.vo.SignLineVo">
		SELECT M.NAME AS NAME, P.NAME AS POSITION_NAME,M.NO AS MEMBER_NO, SL.S_NO AS S_NO , SL.E_NO AS E_NO
		,SL.S_STEP AS S_STEP
		, SL.S_LEVEL AS  S_LEVEL
		FROM MEMBER M JOIN POSITION P ON M.POSITION_NO= P.NO
		JOIN SIGN_LINE SL ON M.NO = SL.E_NO
		WHERE SL.S_NO = #{no}
	
	
	</select>
	<update id="updateSign">
	UPDATE SIGN_LINE
	SET
	S_STEP ='Y'
	WHERE S_NO = #{signNo}
	AND E_NO = #{loginNo}
	
	</update>
	<update id="updateCompanion">
	UPDATE SIGN
	SET
	S_STATUS = 'X'
	WHERE S_NO = #{signNo} 
	
	</update>
	
	<update id="companion">
	UPDATE SIGN_LINE
	SET
	S_STEP = 'X'
	WHERE S_NO = #{signNo}
	AND E_NO = #{loginNo}
	</update>
	<select id="companionList" resultType="com.kh.md.sign.vo.SignVo">
		SELECT S_NO, S_TITLE, S_TYPE_NO, S_DATE , S_STATUS FROM SIGN
		WHERE E_NO = #{eNo} AND S_STATUS = 'X'
	</select>
	
	<select id="companionTotalCnt" resultType="int">
		SELECT COUNT(S_NO)
		FROM SIGN 
		WHERE S_STATUS ='X' AND E_NO = #{memberNo}
	</select>

</mapper>